@model TrainingSystem.API.Models.Equipment

<h2>Add Equipment</h2>

<form asp-action="Create">
    <input asp-for="EquipmentName" class="form-control" />
    <br />
    <button class="btn btn-success">Save</button>
</form>