@model IEnumerable<TrainingSystem.API.Models.Equipment>

<h2>Equipment</h2>

<a asp-action="Create">Add Equipment</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EquipmentName</td>
            <td>
                <a asp-action="Delete" asp-route-id="@e.EquipmentId">Delete</a>
            </td>
        </tr>
    }
</table>