@model IEnumerable<TrainingSystem.API.Models.Equipment>

<h2>Equipment</h2>

<a asp-action="Create" class="btn btn-primary">Add Equipment</a>

<table class="table">
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EquipmentName</td>
        </tr>
    }
</table>