@model TrainingSystem.API.Models.Room

<h2>Add Room</h2>

<form asp-action="Create">

    <input asp-for="RoomName" class="form-control" placeholder="Room Name" />
    <input asp-for="Capacity" class="form-control" placeholder="Capacity" />

    <br />
    <button class="btn btn-success">Save</button>

</form>