@model IEnumerable<TrainingSystem.API.Models.Room>

<h2>Rooms</h2>

<a asp-action="Create" class="btn btn-primary">Add Room</a>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Capacity</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.RoomName</td>
            <td>@r.Capacity</td>
        </tr>
    }
</table>