@model IEnumerable<TrainingSystem.API.Models.Enrollment>

<h1 class="mb-4">My Enrollments</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Balance</th>
            <th>Course</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Status</td>
                <td>@e.EnrollmentDate</td>
                <td>@e.OutstandingBalance</td>
                <td>@e.Session?.Course?.Title</td>
            </tr>
        }
    </tbody>
</table>