@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form asp-action="Login" method="post">

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</form>

<br />

<a asp-action="Register">Create Account</a>