@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5" style="max-width:400px;">
    <h2 class="text-center mb-4">Login</h2>

    <form asp-action="Login" method="post">

        <div class="mb-3">
            <label>Email</label>
            <input type="text" name="email" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required />
        </div>

        <button class="btn btn-dark w-100">Login</button>

        <p class="text-danger text-center mt-2">@ViewBag.Error</p>
    </form>
</div>