@model IEnumerable<TrainingSystem.API.Models.Payment>

<h2>Payments</h2>

<a asp-action="Create">Add Payment</a>

<table class="table">
    <tr>
        <th>User</th>
        <th>Course</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Enrollment.User.Name</td>
            <td>@p.Enrollment.Session.Course.Title</td>
            <td>@p.AmountPaid</td>
            <td>@p.PaidDate</td>
        </tr>
    }
</table>