@model IEnumerable<TrainingSystem.API.Models.CourseSession>

<h1 class="mb-4">My Sessions</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Course</th>
            <th>Date</th>
            <th>Room</th>
            <th>Enrollments</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Course?.Title</td>
                <td>@s.SessionDate</td>
                <td>@s.Room?.RoomName</td>
                <td>
                    <a asp-controller="SessionEnrollments"
                       asp-action="Index"
                       asp-route-id="@s.SessionId"
                       class="btn btn-info btn-sm">
                        View
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>